@import "../saynete.css";

/*Choix*/
.leftButton{
    height:150px; 
    width:350px; 
    position: absolute;
    border-radius: 70px;
    border-color: transparent;
    top: 40%;
    left: 20%;
    font-family: 'Readex Pro', sans-serif;
    font-size: 32px;
    color: black;
    background: lightsalmon;
    text-shadow: 1px 1px 2px lightsteelblue, 0 0 1em white, 0 0 0.2em white;
    transition: opacity 5s ease-out;
    opacity: 0;
    z-index :10;
}

.rightButton{
    height:150px; 
    width:350px; 
    position: absolute;
    border-radius: 70px;
    border-color: transparent;
    top: 40%;
    left: 55%;
    font-family: 'Readex Pro', sans-serif;
    font-size: 32px;
    color: black;
    background: lightsteelblue;
    text-shadow: 1px 1px 2px lightsalmon, 0 0 1em white, 0 0 0.2em white;
    transition: opacity 5s ease-out;
    opacity: 0;
    z-index: 10;
}




/*Anim*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transition: opacity 10s ease-out;
    opacity: 0;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, black 20%, black 80%);
    z-index: -1;
}
.bgTop {
    z-index: -5;
    opacity: 0.5;
}
.bgMiddle {
    z-index: -10;
    opacity: 0.75;
}
.bgBottom {
    z-index: -15;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
