@import "../saynete.css";

.number
{
    background-color: transparent;
    border: none;
    border-color: transparent;
    font-family: 'IndieFlower', cursive;    
    font-style: default;
}


.police {
    background-color: transparent;
    display:inline-block;
    border: none;
    border-color: transparent;
    text-decoration:none;
    font-family: 'IndieFlower', cursive;    
    color:white;
    text-align:center;
    transition: all 0.2s;
    z-index: 10;
    position: relative;
    
}

.police:hover {
    font-family: IndieFlower;
    font-size: 20px;
}

.number1
{
    /* display: none; */
    position: absolute; 
    top: 80%;
    left: 20%;
    opacity: 0;
    transition: opacity 4s ease-in;
}

.number2
{
    position: absolute; 
    top: 60%;
    left: 50%;
    opacity: 0;
    transition: opacity 4s ease-in;

}

.number3
{
    position: absolute; 
    top: 10%;
    left: 13%;
    opacity: 0;
    transition: opacity 4s ease-in;
}

.number4
{
    position: absolute; 
    top: 40%;
    left: 20%;
    opacity: 0;
    transition: opacity 4s ease-in;
} 
.number5
{
    position: absolute; 
    top: 20%;
    left: 70%;
    opacity: 0;
    transition: opacity 4s ease-in;

} 
.number6
{
    position: absolute; 
    top: 30%;
    left: 30%;
    opacity: 0;
    transition: opacity 4s ease-in;
} 

.pos2{
    position: absolute; 
    top: 85%;
    left: 20%;
}
.pos4{
    position: absolute; 
    top: 65%;
    left: 40%;
}
.pos6{
    position: absolute; 
    top: 23%;
    left: 23%;
}
.pos8{
    position: absolute; 
    top: 55%;
    left: 70%;
}
.pos10{
    position: absolute; 
    top: 15%;
    left: 90%;
}
.pos12{
    position: absolute; 
    top: 35%;
    left: 30%;
}


  span:hover + div {
    display: block;
  }
 


  *{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    color: white;

}






body{
    background-color: black;
   /* background-image: url("images/background-image.jpeg");*/
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;

}

table{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}
td{
    border: none;
}
header{
    margin-top: 20px;
    margin-right: 50px;
}

ul{
    list-style-type: none;
    float: right;
}

ul li a{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px ;
    margin-left: 5px;
    border-radius: 5px;
}

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title2{    
    position: absolute;
    top: 40%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title h1{
    font-size: 4vw;
}

.centered{
    text-align: center;
}

.nextButton{
    position: absolute;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    left: 50%;
    bottom: 10%
}

.vignets2 {
    -webkit-animation:5s ease 2s normal forwards 1 fadein;
    opacity:0;
}
.vignets4 {  
    -webkit-animation:5s ease 4s normal forwards 1 fadein;
    opacity:0;
}
.vignets6 {  
    -webkit-animation:5s ease 6s normal forwards 1 fadein;
    opacity:0;
}
.vignets8 {  
    -webkit-animation:5s ease 8s normal forwards 1 fadein;
    opacity:0;
}
.vignets10 {  
    -webkit-animation:5s ease 10s normal forwards 1 fadein;
    opacity:0;
}
.vignets12 {  
    -webkit-animation:5s ease 12s normal forwards 1 fadein;
    opacity:0; 
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from { opacity:0;}
    to { opacity:1;}

}


.image {
    position: center;
    background-color:transparent;
    /* background-image: url("images/background-image.jpeg");*/
     background-size: cover;
}


.buttonH{
    position: absolute;
      background-color: black;
      border: solid;
      border-radius: 5px;
      text-align: center;
      display: inline-block;
      font-size: 200px;
      left: 94%;
      bottom: 4%;
    opacity: 0; 
    font-family: 'Reenie Beanie', cursive;    
    font-style: default;
    font-size: 100%; 
    z-index: 100;
  }
  .buttonH:hover {
    background-color: gray;
  }