@import "../saynete.css";
  
div {
  margin: 175px auto;
}

.drop {
  z-index: -50;
  position: relative;
	width: 20px;
	height: 20px;
  top: -250px;
  margin: 0 auto;
	background: #FFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drop:before {
  z-index: -50;
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid rgba(255,255,255,1);
  top: -22px;
}

.wave {
  z-index: -50;
  position: relative;
  opacity: 0;
  top: 0;
	width: 2px;
	height: 1px;
  border: #FFF 7px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.wave:after {
  z-index: -50;
  content: "";
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -5px;
	width: 2px;
	height: 1px;
  border: #FFF 5px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple-2;
  -webkit-animation-name: ripple-2;
  animation-name: ripple-2;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes ripple {
    from {
      z-index: -50;
      opacity: 1;
    }
    to {
      z-index: -50;
      width: 600px;
      height: 300px;
      border-width: 1px;
      top: -100px;
      opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
      z-index: -50;
      opacity: 1;
    }
    50% {
      z-index: -50;
      opacity: 0;
    }
  100% {
    z-index: -50;
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

@keyframes drip {
    to {
      z-index: -50;
      top: 190px;
    }
}


.progressC-container {
  background-color: transparent;
  display: flex;
  justify-content: end;
  position: absolute;
  z-index: 10;
}

.progressC {
  position: absolute;
  z-index: 10;
  position: relative;
  width:210px;
  height:30px;
  background-color:lightgrey;
  border-radius: 10px;
  overflow: hidden;
  position: relative; 
  right: -190%;
  bottom: 350px;
  /* box-shadow: 0 3px 6px rgba(255, 255, 0, 255) inset; */
  
}


.progressC-fill {
  position: relative;
  width: 65%;
  height: 100%;
  background: rgb(160, 8, 8);
  transition: all 4s;
  z-index: 10;
}

.labelC {
  position: absolute;
  z-index: 10;
  position: relative;
  bottom: 200px;
  right: -240%;
  font-family: 'Audiowide', cursive;
  color: lightgrey;

} 

.animation-containerC {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  margin: auto;
  
}

.buttonC{
  position: absolute;
    background-color: black;
    border: solid;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 200px;
    left: 90%;
    bottom: 10%;
  opacity: 0; 
  font-family: 'Reenie Beanie', cursive;    
  font-style: default;
  font-size: 100%; 
}
.buttonC:hover {
  background-color: gray;
}

.jauge {
position: absolute; 
  max-width: 220px;
  right: 2%;
  top: 2%;


}