  <head>
    <meta charset="utf-8">
    <title>Frontières psychiques</title>
    <link rel="stylesheet" type="text/css" href="Part1A.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">   
  </head>
  <body>
    <br><br>
    <div class="progress-container">
      <span class="label">Mon niveau de contrôle</span>
      <div class="progress">
        <div class="progress-fill" id="progress-fill" style="width: 50%">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;50%</div>  
      </div>
    </div>

    <audio id="audio">
      <source src="../audios/Part1A.mp3" type="audio/mp3">
    </audio>

    <div class="circles-container">
      <div class="circle" id="circle1"></div>
      <div class="circle" id="circle2"></div>
      <div class="circle" id="circle3"></div>
      <div class="circle" id="circle4"></div>
    </div>

    <div>
      <a><img src="../images/pomme main.png" class="apple" id="apple"></img></a>
    </div>
    <script type="text/javascript" src="Part1A.js"></script>
  </body>
