@import "../saynete.css";

.apple
{
    position: absolute;
    top: 30%;
    right: -85vh;
    transition: transform 5s ease-out, opacity 3s ease-out;
    opacity: 1;
} 

.apple:hover
{
    cursor: grab;
}