@import "../saynete.css";

@font-face {
    font-family: 'Digital';
    src: url('../fonts/digital-7.ttf');
}

.food
{
  background-color: transparent;
  font-family: 'Reenie Beanie', cursive;  
  font-size: 25px;
  color:white;
  text-align:center;
  transition: all 2s ease-in;
  z-index: 10;
}

/*Orange*/
.cO {
    display: block;
    position: absolute; 
    top: 80%;
    left: 20%;
}
.O{
    display: none;
    position: absolute; 
    top: 80%;
    left: 19%;
    cursor: grab;
}
.sO:hover .cO{
    display:none;
}
.sO:hover .O{
    display:block;
}

/*Banane*/
.cB {
    display: block;
    position: absolute; 
    top: 60%;
    left: 40%;
}
.B{
    display: none;
    position: absolute; 
    top: 60%;
    left: 39%;
    cursor: grab;
}
.sB:hover .cB{
    display:none;
}
.sB:hover .B{
    display:block;
}

/*Yaourt*/
.cY {
    display: block;
    position: absolute; 
    top: 18%;
    left: 5%;
}
.Y{
    display: none;
    position: absolute; 
    top: 18%;
    left: 4%;
    cursor: grab;
}
.sY:hover .cY{
    display:none;
}
.sY:hover .Y{
    display:block;
}

/*Steak*/
.cS {
    display: block;
    position: absolute; 
    top: 50%;
    left: 70%;
}
.S{
    display: none;
    position: absolute; 
    top: 50%;
    left: 70%;
    cursor: grab;
}
.sS:hover .cS{
    display:none;
}
.sS:hover .S{
    display:block;
}

/*Hamburger*/
.cH {
    display: block;
    position: absolute; 
    top: 15%;
    left: 80%;
}
.H{
    display: none;
    position: absolute; 
    top: 15%;
    left: 79%;
    cursor: grab;
}
.sH:hover .cH{
    display:none;
}
.sH:hover .H{
    display:block;
}

/*Sandwich*/
.cSa {
    display: block;
    position: absolute; 
    top: 30%;
    left: 30%;
}
.Sa{
    display: none;
    position: absolute; 
    top: 30%;
    left: 29%;
    cursor: grab;
}
.sSa:hover .cSa{
    display:none;
}
.sSa:hover .Sa{
    display:block;
}

/*Iles flottantes*/
.cI {
    display: block;
    position: absolute; 
    top: 10%;
    left: 50%;
}
.I{
    display: none;
    position: absolute; 
    top: 10%;
    left: 49%;
    cursor: grab;
}
.sI:hover .cI{
    display:none;
}
.sI:hover .I{
    display:block;
}

/*Balance*/
.balance{
    position: absolute;
    top: 55%;
    right: 5%;
    width: 400px;
    height: auto;
}

.screenBalance{
    position: absolute;
    top: 68%;
    right: 18%;
    font-family: Digital;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;  
}
