@import "../saynete.css";



.button1{
  background-color: black;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Reenie Beanie', cursive;    
  font-weight:300;
  color:white;
  text-align:center;
  transition: all 0.2s;
  z-index: 10;
  position: relative;
  left: 45%;
  transition: opacity 5s ease-in;
  opacity: 0;
  }

  .button1:hover{
  background-color:grey;
  }

  @media all and (max-width:30em){
  .button1{
  display:block;
  margin:0.4em auto;
  }
  }

.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform : translate(-50%,-50%);
}

.title2{    
  position: absolute;
  top: 30%;
  left: 20%;
  transform : translate(-50%,-50%);
}

.title h1{
  font-size: 4vw;
}

.centered{
  text-align: center;
  position: absolute;
  top: 90%;
  left: 35%;
  z-index: 100;
}

.buttonF{
  position: absolute;
    background-color: black;
    border: solid;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 200px;
    left: 94%;
    bottom: 4%;
  opacity: 0; 
  font-family: IndieFlower;  
  font-size: 100%; 
  z-index: 5;
}
.buttonF:hover {
  background-color: gray;
}

.vignet{
  width: 100px;
  height: auto;
  z-index: 1;
}

#saucisson {
  /* -webkit-animation:5s ease 100ms normal forwards 1 fadein; */
  opacity:0;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#saucisse {  
  opacity:0;
  position: absolute;
  top: 60%;
  left:70%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#oeuf {  
  opacity:0;
  position: absolute;
  top: 40%;
  left: 90%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#lait {  
  opacity:0;
  position: absolute;
  top: 10%;
  left: 60%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#fromage {  
  opacity:0;
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#carotte {  
  opacity:0; 
  position: absolute;
  top: 10%;
  left: 45%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#poulet {  
  opacity:0; 
  position: absolute;
  top: 35%;
  left: 15%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#poisson {  
  opacity:0; 
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#pain {  
  opacity:0; 
  position: absolute;
  top: 85%;
  left: 83%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#steak {  
  opacity:0; 
  position: absolute;
  top: 30%;
  left: 70%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#banane {  
  opacity:0; 
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1;
  transition: opacity 5s ease-in;

}
#tomate {  
  opacity:0; 
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 1;
  transition: opacity 5s ease-in;

}

