@import "style.css";

.circles-container {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    z-index: -1;
}

.circle
{
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  z-index: -1;
}

#circle1
{
    position: absolute;
    top: 35%;
    left : 5%;
    display: none; 
    background-color: #6666ff;
    border-color: transparent;

}

#circle2
{
    position: absolute;
    top: 35%;
    left: 30%;
    display: none; 
    background-color: #00cc66;
    border-color: transparent;

}

#circle3
{
    position: absolute;
    top: 35%;
    left: 55%;
    display: none; 
    background-color: #d9b3ff;
    border-color: transparent;
}

#circle4
{
    position: absolute;
    top: 35%;
    left: 80%;
    display: none; 
    background-color: #ffa31a;
    border-color: transparent;

} 

#circle5
{
    position: absolute;
    top: 35%;
    left : 80%;
    display: none; 
    background-color: yellow;
    border-color: transparent;

} 

.progress-container {
    background-color: transparent;
    display: flex;
    justify-content: end;
    z-index: 100;
}
.progress {
    width:210px;
    height:30px;
    background-color:lightgrey;
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
    right: 10px;
}

.progress-fill {
    width: 50%;
    height: 100%;
    background: rgb(61, 59, 59);
    transition: all 4s;
    font-family: IndieFlower; 
    font-size: 18px;
    font-weight: 30;  
    color: lightgrey;
}

.label {
    position: relative;
    bottom: 25px;
    right: -165px;
    font-family: IndieFlower; 
    font-size: 18px;
    font-weight: 30;  
    color: lightgrey;

} 

.animation-container {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    margin: auto;
    
}