@font-face {
    font-family: 'IndieFlower';
    src: url('../Start/fonts/IndieFlower-Regular.ttf');
}

*{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
}

header{
    margin-top: 20px;
    margin-right: 50px;
}

ul{
    list-style-type: none;
    float: right;
}

ul li a{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px ;
    margin-left: 5px;
    border-radius: 5px;
}


ul li.active a{
    background-color: white;
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title2{    
    position: absolute;
    top: 40%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title h1{
    font-size: 4vw;
}

.centered{
    text-align: center;
}

.nextButton{
    position: absolute;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    left: 50%;
    bottom: 10%;
}

.vignets2 {
    -webkit-animation:5s ease 2s normal forwards 1 fadein;
    opacity:0;
}
.vignets4 {  
    -webkit-animation:5s ease 4s normal forwards 1 fadein;
    opacity:0;
}
.vignets6 {  
    -webkit-animation:5s ease 6s normal forwards 1 fadein;
    opacity:0;
}
.vignets8 {  
    -webkit-animation:5s ease 8s normal forwards 1 fadein;
    opacity:0;
}
.vignets10 {  
    -webkit-animation:5s ease 10s normal forwards 1 fadein;
    opacity:0;
}
.vignets12 {  
    -webkit-animation:5s ease 12s normal forwards 1 fadein;
    opacity:0; 
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from { opacity:0;}
    to { opacity:1;}

}


.image {
    position: center;
    background-color:transparent;
    /* background-image: url("images/background-image.jpeg");*/
     background-size: cover;
}
