*{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    color: white

}

body{
    background-color: black;
   /* background-image: url("images/background-image.jpeg");*/
    background-size: cover;
}



header{
    margin-top: 20px;
    margin-right: 50px;
}
ul{
    list-style-type: none;
    float: right;
}

ul li{
    display: inline-block
}

ul li a{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px ;
    margin-left: 5px;
    border-radius: 5px;
}


ul li.active a{
    background-color: white;
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title2{    
    position: absolute;
    top: 40%;
    left: 50%;
    transform : translate(-50%,-50%);
}

.title h1{
    font-size: 4vw;
}

.centered{
    text-align: center;
}




.vignets2 {
    -webkit-animation:2s ease 2s normal forwards 1 fadein;
    opacity:0;
    position: absolute; 
    top: 80%;
    left: 20%;
}
.pos2{
    position: absolute; 
    top: 85%;
    left: 20%;
}

.vignets4 {  
    -webkit-animation:2s ease 4s normal forwards 1 fadein;
    opacity:0;
    position: absolute; 
    top: 60%;
    left: 40%;
}
.pos4{
    position: absolute; 
    top: 65%;
    left: 40%;
}

.vignets6 {  
    -webkit-animation:2s ease 6s normal forwards 1 fadein;
    opacity:0;
    position: absolute; 
    top: 18%;
    left: 23%;
}
.pos6{
    position: absolute; 
    top: 18%;
    left: 28%;
}
.vignets8 {  
    -webkit-animation:2s ease 8s normal forwards 1 fadein;
    opacity:0;
    position: absolute; 
    top: 50%;
    left: 70%;
}
.pos8{
    position: absolute; 
    top: 50%;
    left: 75%;
}
.vignets10 {  
    -webkit-animation:2s ease 10s normal forwards 1 fadein;
    opacity:0;
    position: absolute; 
    top: 10%;
    left: 90%;
}
.pos10{
    position: absolute; 
    top: 15%;
    left: 90%;
}
.vignets12 {  
    -webkit-animation:2s ease 12s normal forwards 1 fadein;
    opacity:0; 
    position: absolute; 
    top: 30%;
    left: 30%;
}.pos12{
    position: absolute; 
    top: 30%;
    left: 35%;
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from { opacity:0;}
    to { opacity:1;}

}


.image {
    position: center;
    background-color:white;
    /* background-image: url("images/background-image.jpeg");*/
     background-size: cover;
}

ul{
    list-style-type: none;
    float: right;
}

ul li{
    display: inline-block
}

ul li a{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px ;
    margin-left: 5px;
    border-radius: 5px;
}
ul li.active a{
    background-color: white;
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform : translate(-50%,-50%);
}


div {
    background-color: yellow;
    padding: 20px;
    display: none;
  }
    
  span:hover + div {
    display: block;
  }

