body{
  margin:0; 
  padding:0; 
  background:black;
}

.right-eye{
  background:white; 
  height:700px;
  width:700px; 
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  border-radius : 75% 0;
  overflow:hidden;
}



.ball{
  width:40px; 
  height:40px; 
  background: #222f3e;
  border-radius: 50%; 
  border: 30px solid #576;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.shut{
  width:1000px; 
  height:760px; 
  top:50%; 
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%) rotate(-45deg);
  z-index:999;
}

.shut span{
  display:block;
  width:100%; 
  height:15%; 
  background: black ; 
  border-radius: 0 0 60% 60%;
  transition:1s all; 
}

.right-eye:hover >.shut span , 
.left-eye:hover >.shut span{
  height:100%;
}


