@import "../style.css";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple {
    display: none;
    position : absolute;
    background-color: transparent;
    margin: 0 auto;
    top: 15%;
}

.animatedApple {
    position : absolute;
    background-color: transparent;
    margin: 0 auto;
    top: 18%;
    transition: opacity 3s ease-in;
    opacity: 0;
}

.apple:hover{
    cursor: pointer;
}

.animatedApple:hover{
    cursor: default;
}

.corner {
    background-color: transparent;
    border: transparent;
    position: fixed;
    bottom: -40px;
    right: -20px;
    transition: opacity 3s ease-in;
    opacity: 0;
}

.corner:hover {
    cursor: grabbing;
}

.centertext {
    position: relative;
    text-align: center;
    margin-top: 30%;
}

.diaryDate {
    font-family: 'Reenie Beanie', cursive;
    font-style: bold;
    font-size: 250%;
    position: relative;
    text-align: center;
}

.diary {
    font-family: 'Reenie Beanie', cursive;
    font-style: default;
    font-size: 170%;
    position: relative;
    text-align: center;
}

progress {
    margin-top: 100px;
    margin-left: -50px;
    transform: rotate(-90deg);
    position: absolute;
    top: -1%;
    left: 96%;
    -webkit-appearance: none;
}
  ::-webkit-progress-bar {
     background-color:salmon;
  }
  ::-webkit-progress-value {
    background-color: red;
    }

.progress1 {
    position: absolute;
    top: -5%;
    left: 96%;
}
.progressf {
    position: absolute;
    top: -1%;
    left: 96%;
}
