@font-face{
    font-family: 'Norter';
    src: url('fonts/SNORTER\ PERSONAL\ USE.ttf');
    font-style: normal;
  }

@font-face {
    font-family: 'IndieFlower';
    src: url('fonts/IndieFlower-Regular.ttf');
}

body{
    background: lightcoral;
    overflow: hidden;
}

.title{
    color: white;
    font-family: Norter;
    font-size: 40px;
}

.text{
    color: white;
    font-family: IndieFlower;
    font-size: 20px;
}

.filterMusic {
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    z-index: 100;
    top: 0%;
    left: 0%;
    background-color: lightcoral;
    opacity: 100%;
    cursor: pointer;
}
