@font-face{
    font-family: 'Norter';
    src: url('fonts/SNORTER\ PERSONAL\ USE.ttf');
    font-style: normal;
  }

@font-face {
    font-family: 'IndieFlower';
    src: url('fonts/IndieFlower-Regular.ttf');
}

*{
    margin: inherit;
    padding: 0px;
    color: white;
    background: black;

}

body{
        overflow:hidden;
        background:black;
}

.title h1{
    font-size: 4vw;
}

.centered{
    text-align: center;
}

.buttonNext{
    color: black;
    background: lightseagreen;
    border: none;
    font-size: 17px;
    border-radius: 100px;
    padding: 5px 5px;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.buttonNext::after, .buttonNext::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.buttonNext:hover {
    transform: translate(-12px, -12px);
    cursor: pointer;
}

.buttonNext:hover::before {
    transform: translate(12px, 12px);
}

.buttonNext:hover::after {
    transform: translate(6px, 6px);
}

.avertissement{
    text-shadow: 4px 4px 5px red;
    text-align: inherit;
}

.buttonmusic {
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 100;
    top: 0%;
    left: 0%;
    background-color: rgb(34, 33, 33);
    opacity: 80%;
    cursor: pointer;
}