@font-face{
    font-family: 'Norter';
    src: url('../fonts/SNORTER\ PERSONAL\ USE.ttf');
    font-style: normal;
  }

*{
    background-color: black;
}

body{
    overflow: hidden;
}

.text{
    font-family : Norter;
    font-size: 40px;
    color:white;
}

.stress1{
position: absolute;
top:20%;
Right:20%;
background-color: transparent;
cursor: grab;
}

.stress2{
position: absolute;
top:30%;
Right:80%;
background-color: transparent;
cursor: grab;
    }
.stress3{
position: absolute;
top:80%;
Right:70%;
background-color: transparent;
cursor: grab;
    }
.stress4{
position: absolute;
top:70%;
Right:10%;
background-color: transparent;
cursor: grab;
  }

.bulle{
    position:absolute;
    top:25%;
    right:37%;
    cursor: pointer;
    
}
.test{
    color:transparent;
    font-family: Norter;
    font-size: 320px;
    width: 30%;
    position:absolute;
    text-align: center;
    top:28%;
    right:32%;
    background-color: transparent;
    cursor:default
}

.filterMusic {
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
    z-index: 100;
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 100%;
    cursor: pointer;
}
