@import "../saynete.css";

@font-face {
    font-family: 'Digital';
    src: url('../fonts/digital-7.ttf');
}

.number-container {
    background-color: transparent;

    justify-content: space-around;
}

.number
{
    background-color: transparent;
  display: none;
  padding:0.35em 1.2em;
  border:0.1em none #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Reenie Beanie', cursive;
  font-weight:300;
  color:white;
  text-align:center;
  transition: all 0.2s;
  z-index: 10;
  /* transition: display 3s ease-in; */

}

.number1
{
    /* display: none; */
    position: absolute;
    top: 80%;
    left: 20%;
    cursor: grabbing;
}

.number2
{
    position: absolute;
    top: 60%;
    left: 40%;
    cursor: grabbing;

}

.number3
{
    position: absolute;
    top: 18%;
    left: 23%;
    cursor: grabbing;
}

.number4
{
    position: absolute; 
    top: 30%;
    left: 70%;
    cursor: grabbing;
}
.number5
{
    position: absolute;
    top: 15%;
    left: 80%;
    cursor: grabbing;

}
.number6
{
    position: absolute;
    top: 30%;
    left: 30%;
    cursor: grabbing;
}
.number7{
    position: absolute;
    top: 10%;
    left: 50%;
    cursor: grabbing;
}

.pos2{
    position: absolute;
    top: 85%;
    left: 20%;
    display: none;
}
.pos2:hover{
    display:block;
}
.pos4{
    position: absolute;
    top: 65%;
    left: 40%;
    display: none;
}
.pos2:hover{
    display:block;
}
.pos6{
    position: absolute;
    top: 23%;
    left: 23%;
    display: none;
}
.pos2:hover{
    display:block;
}
.pos8{
    position: absolute; 
    top: 35%;
    left: 70%;
    display: none;
}
.pos2:hover{
    display:block;
}
.pos10{
    position: absolute;
    top: 20%;
    left: 80%;
    display: none;
}
.pos2:hover{
    display:block;
}
.pos12{
    position: absolute;
    top: 35%;
    left: 30%;
    display: none;
}
.pos2:hover{
    display:block;
}
.pos14{
    position: absolute;
    top: 15%;
    left: 50%;
    display: none;
}
.pos14:hover{
    display:block;
}

  span:hover + div {
    display: block;
  }

.balance{
    position: relative;
    top: 20%;
    right: -53%;
    opacity: 0;
}



.tableau{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: -20%;
    height: 500px;
    position:absolute;
    top:62%;
    right:10%;
    background-color: transparent;
    cursor:default;
    /* display: none; */
    /* transition: opacity 3s ease-in; */
}


  .labelTableau td, .labelTableau th{
    border: transparent;
    width: 270px;
    height: 230px;
    /* display: none; */
  }

  .nextButtonG{
    position: absolute;
    background-color: black;
    border: solid;
    border-radius: 5px;
    text-align: center;
    display: none;
    font-size: 20px;
    left: 13%;
    bottom: 4%;
    opacity: 1;
    font-family: IndieFlower;
    font-style: default;
    font-size: 100%;
    cursor: pointer;
}

.reset{
    position: absolute;
    background-color: black;
    border: solid;
    border-radius: 5px;
    text-align: center;
    display: none;
    font-size: 20px;
    left: 4%;
    bottom: 4%;
    opacity: 1;
    font-family: IndieFlower;
    font-style: default;
    font-size: 100%;
    cursor: pointer;
}

.balanceAndScreen{
    position: relative;
    margin-top: -20%;
    right: -38%;
    width: 400px;
    height: auto;
    z-index: 0;
}

.screenBalance{
    position: absolute;
    top: 69%;
    right: 16%;
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 5px;
}

.digitalText{
    font-family: Digital;
    font-size: 30px;
    color: white;
}

.indication{
    font-family: IndieFlower;
    font-size: 20px;
    position: absolute;
    left: 68%;
    top: 50%;
    opacity: 0;
    transition: opacity 4s ease-in;
}