body{
    overflow: hidden;
    margin: 0;
  }


:root{
    --vert:rgb(143, 197, 111);
    --jaunepale:rgb(235, 228, 188);
    --vertpale:rgb(96, 207, 152);
  }

/*top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;*/

.opening-door {
    border: 2px solid black;
}
.opening-door, .opening-door :before, .opening-door :after {
    box-sizing: border-box;
}
.opening-door:after {
    content: ' ';
    border: 1px solid #000;
    background: white;
    position: absolute;
    top: 12px; /* frame padding - door after border width */
    left: 12px;
    right: 12px;
    bottom: 0;
}
.opening-door.frame {
    background: rgb(88, 88, 88);
    width: 154px; /*140px; with no box sizing. */
    height: 288px;
    padding: 13px 13px 0px 13px;
    perspective: 275px;
    perspective-origin: 0;
    cursor: pointer;
}

.opening-door .door {
    width: 100%;
    height: 100%;
    background: var(--jaunepale); /* default */
    transition: all 0.4s ease-in-out;
    transform-origin: center left;
    position: relative;
    z-index: 2;
}
.opening-door:hover .door {
    transform: rotateY(35deg);
    transform-origin: center left;
}
.opening-door .door:after {
    content: ' ';
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.opening-door:hover .door:after {
    opacity: 1;
}

.opening-door .handle {
    width: 16px;
    height: 6px;
    border: 1px solid #000;
    border-radius: 4px;
    position: absolute;
    background: #000;
    top: 50%;
    right: 15%;
}
.opening-door .handle:after {
    content: ' ';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    top: -6px;
    right: -4px;
    transition: all 0.4s ease-in-out;
}
.opening-door:hover .handle:after {
    width: 24px;
    right: -15px;
}

#butthole{
    position: absolute;
    top: 500px;
    left: 100px;
}

#essai{
    z-index: 200;
}


#parent1
  {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  }
   
  #parent-connexion1 
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion1
  {
   width: 250px;
   height: 500px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 50%; left: 50%; bottom: 0; right: 0;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }