@font-face {
  font-family: 'IndieFlower';
  src: url('../../Start/fonts/IndieFlower-Regular.ttf');
}

body{
    overflow: hidden;
    margin: 0;
  }
  
  :root{
      --white:#fff;
      --jaunepale:rgb(235, 228, 188);
      --vertpale:rgb(96, 207, 152);
    }
    
    h1{
      color:rgb(255, 255, 255);
      font-family: IndieFlower;
      font-size: 18px;
    }
  
    
    .cadre{
      width: 1280px;
      height: 720px;
      position: absolute;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;
    }
  
    .cadre2{
      width: 1280px;
      height: 720px;
      position: relative;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;      
    }
  
  
    #font{
      font-size: medium;
    }
  
    
    .bloc1{
      width: 600px;
      height: 50px;
      background-color: rgba(255, 98, 98, 0);
      position: absolute;
      top: 20%; left: 10%; bottom: 0; right: 0;
      transition: transform 3s;
      color: white;
      z-index: 50;
  }
  
  .bloc2{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 30%; left: 70%; bottom:0; right: 0;
    transition: transform 2s;
    color: white;
    z-index: 50;
  }
  
  .bloc3{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 60%; left: 40%;
    transition: transform 2s;
    color: white;
    z-index: 50;
  }
  
  
  
  
  .bloc4{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 80%; left: 60%;
    transition: transform 2s;
    color: white;
    z-index: 50;
  }
  
  .bloc5{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 10%; left: 10%;
    transition: transform 2s;
    z-index: 50;
  }
  
  .bloc6{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 20%; left: 50%;
    transition: transform 2s;
    z-index: 50;
  }
  
  .bloc7{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 30%; left: 20%;
    transition: transform 2s;
    z-index: 50;
  }
  
  .bloc8{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 40%; left: 60%;
    transition: transform 2s;
    color: white;
    z-index: 50;
  }

  .bloc88{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 40%; left: 60%;
    transition: transform 2s;
    color: white;
    z-index: 50;
  }
  
  .bloc9{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 50%; left: 5%;
    transition: transform 2s;
    display: none;
    float: left;
    z-index: 50;
  }
  
  .bloc10{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 70%; left: 50%;
    transition: transform 2s;
    display: none;
    float: left;
    z-index: 50;
  }
  
  .bloc11{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 65%; left: 20%;
    transition: transform 2s;
    display: none;
    float: left;
    z-index: 50;
  }
  
  .bloc12{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 8%; left: 70%;
    transition: transform 2s;
    display: none;
    float: left;
    z-index: 50;
  }
  
  .bloc13{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 85%; left: 15%;
    transition: transform 2s;
    display: none;
    float: left;
    z-index: 50;
  }
  
  .bloc14{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 55%; left: 40%;
    transition: transform 2s;
    display: none;
    float: left;
    z-index: 50;
  }
  
  .bloc15{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 12%; left: 35%;
    transition: transform 2s;
    display: none;
    float: left;
    z-index: 50;
  }
  
  
  .filterMusic {
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
    z-index: 100;
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 100%;
    cursor: pointer;
}
    
  #animate{
      position:absolute;
  }
    
    /*#anim1 {
      -webkit-animation:6s ease 2s normal forwards 1 fade;
      opacity:0;
    }
    #anim2 {  
      -webkit-animation:6s ease 8s normal forwards 1 fade;
      opacity:0;
    }
    #anim3 {  
      -webkit-animation:5s ease 14s normal forwards 1 fade;
      opacity:0;
    }
    #anim4 {  
      -webkit-animation:5s ease 20s normal forwards 1 fadein;
      opacity:0;
    }
    #anim5 {  
      -webkit-animation:5s ease 26s normal forwards 1 fadein;
      opacity:0;
    }
    #anim6 {  
      -webkit-animation:5s ease 32s normal forwards 1 fadein;
      opacity:0;
    }
    #anim7 {  
      -webkit-animation:5s ease 37s normal forwards 1 fadein;
      opacity:0;
    }
    #anim8 {  
      -webkit-animation:5s ease 42s normal forwards 1 fadein;
      opacity:0;
    }*/
    
    /*#anim9 {  
      -webkit-animation:5s ease 2s normal forwards 1 fadein;
      opacity:0;
    }
    #anim10 {  
      -webkit-animation:4s ease 6s normal forwards 1 fadein;
      opacity:0;
    }
    #anim11 {  
      -webkit-animation:4s ease 9s normal forwards 1 fadein;
      opacity:0;
    }*/
  
    /*#anim15 {  
      -webkit-animation:3s ease 55s normal forwards 1 fadein;
      opacity:0;
    }
  
    #anim12 {  
      -webkit-animation:5s ease 57s normal forwards 1 fadein;
      opacity:0;
    }
    #anim13 {  
      -webkit-animation:5s ease 58s normal forwards 1 fadein;
      opacity:0;
    }
    #anim14 {  
      -webkit-animation:3s ease 59s normal forwards 1 fadein;
      opacity:0;
    }*/
  
    
    
    /*@-webkit-keyframes fade {
      0% { opacity:0;}
      40% { opacity:1;}
      60% { opacity:1;}
      100% {opacity:0;}
    }
  
    @-webkit-keyframes fadein { 
      from { opacity:0;}
      to { opacity:1;}
    
    }*/
      
    
    #parent1
    {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
    }
     
    #parent-connexion1 
    {
    display:table-cell; 
    vertical-align:middle;
    }
     
    #rect-connexion1
    {
     width: 250px;
     height: 50px;
     overflow: auto;
     margin: auto;
     position: absolute;
     top: 50%; left: 50%; bottom: 0; right: 0;
      /*background-color: #E6E6E6;*/
      background-color: rgba(255, 255, 255, 0);
     /*border-radius: 50px;*/
     opacity: 1;
    }




    .leftButton{
      height:150px; 
      width:350px; 
      position: absolute;
      border-radius: 70px;
      border-color: transparent;
      top: 40%;
      left: 20%;
      font-family: 'Readex Pro', sans-serif;
      font-size: 32px;
      color: black;
      background: rgb(240, 238, 238);
      text-shadow: 1px 1px 2px rgb(176, 208, 222), 0 0 1em rgb(131, 128, 128), 0 0 0.2em rgb(59, 57, 57);
      transition: opacity 3s ease-out;
      opacity: 0;
      z-index :10;
  }
  
  .rightButton{
      height:150px; 
      width:350px; 
      position: absolute;
      border-radius: 70px;
      border-color: transparent;
      top: 40%;
      left: 55%;
      font-family: 'Readex Pro', sans-serif;
      font-size: 32px;
      color: rgb(235, 235, 235);
      background: rgb(23, 23, 24);
      text-shadow: 1px 1px 2px lightsalmon, 0 0 1em white, 0 0 0.2em white;
      transition: opacity 3s ease-out;
      opacity: 0;
      z-index: 10;
  }
  


  .opening-door {
    border: 2px solid black;
}
.opening-door, .opening-door :before, .opening-door :after {
    box-sizing: border-box;
}
.opening-door:after {
    content: ' ';
    border: 1px solid #000;
    background: white;
    position: absolute;
    top: 12px; /* frame padding - door after border width */
    left: 12px;
    right: 12px;
    bottom: 0;
}
.opening-door.frame {
    background: rgb(88, 88, 88);
    width: 154px; /*140px; with no box sizing. */
    height: 288px;
    padding: 13px 13px 0px 13px;
    perspective: 275px;
    perspective-origin: 0;
    cursor: pointer;
}

.opening-door .door {
    width: 100%;
    height: 100%;
    background: var(--jaunepale); /* default */
    transition: all 0.4s ease-in-out;
    transform-origin: center left;
    position: relative;
    z-index: 2;
}
.opening-door:hover .door {
    transform: rotateY(35deg);
    transform-origin: center left;
}
.opening-door .door:after {
    content: ' ';
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.opening-door:hover .door:after {
    opacity: 1;
}

.opening-door .handle {
    width: 16px;
    height: 6px;
    border: 1px solid #000;
    border-radius: 4px;
    position: absolute;
    background: #000;
    top: 50%;
    right: 15%;
}
.opening-door .handle:after {
    content: ' ';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    top: -6px;
    right: -4px;
    transition: all 0.4s ease-in-out;
}
.opening-door:hover .handle:after {
    width: 24px;
    right: -15px;
}



#porte{
    z-index: 200;
}



  #parent1
  {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  float: left;
  z-index: 200;
  }
   
  #parent-connexion1 
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion1
  {
   width: 180px;
   height: 300px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 0%; left: 0%; bottom: 0; right: 0;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }
  
    
    