@font-face {
  font-family: 'IndieFlower';
  src: url('../../Start/fonts/IndieFlower-Regular.ttf');
}
body{
    overflow: hidden;
    margin: 0;
  }
  
  :root{
      --white:#fff;
      --jaunepale:rgb(235, 228, 188);
      --vertpale:rgb(96, 207, 152);
    }
    
    h1{
      color:rgb(255, 255, 255);
      font-family: IndieFlower;
      font-size: 18px;
    }
    
    /*h1:hover{
      background-color: red;
    }*/
  
  
    
    .cadre{
      width: 1280px;
      height: 720px;
      position: absolute;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;
      /*background-color: rgba(255, 0, 0, 0.63);*/
      
    }
  
    .cadre2{
      width: 1280px;
      height: 720px;
      position: relative;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;
      /*background-color: rgba(0, 255, 115, 0.63);*/
      
    }
  
  
    #font{
      font-size: medium;
    }
  
    
    .bloc1{
      width: 600px;
      height: 50px;
      background-color: rgba(255, 98, 98, 0);
      position: absolute;
      top: 20%; left: 10%; bottom: 0; right: 0;
      transition: transform 3s;
      color: white;
  }
  
  .bloc2{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 30%; left: 70%; bottom:0; right: 0;
    transition: transform 2s;
    color: white;
  }
  
  .bloc3{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 60%; left: 40%;
    transition: transform 2s;
    color: white;
  }
  
  
  
  
  .bloc4{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 80%; left: 60%;
    transition: transform 2s;
    color: white;
  }
  
  .bloc5{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 10%; left: 10%;
    transition: transform 2s;
  }
  
  .bloc6{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 20%; left: 50%;
    transition: transform 2s;
  }
  
  .bloc7{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 30%; left: 20%;
    transition: transform 2s;
  }
  
  .bloc8{
    width: auto;
    height: auto;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 40%; left: 60%;
    transition: transform 2s;
    cursor: pointer;
    text-decoration: underline;
    color:white;
    font-family: IndieFlower;
    font-size: 18px;
    text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em blue;

  }

  .bloc88{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 40%; left: 60%;
    transition: transform 2s;
    color: white;
  }
  
  .bloc9{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 50%; left: 5%;
    transition: transform 2s;
  }
  
  .bloc10{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 70%; left: 50%;
    transition: transform 2s;
  }
  
  .bloc11{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 65%; left: 20%;
    transition: transform 2s;
  }
  
  .bloc12{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 8%; left: 70%;
    transition: transform 2s;
  }
  
  .bloc13{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 85%; left: 15%;
    transition: transform 2s;
  }
  
  .bloc14{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 55%; left: 40%;
    transition: transform 2s;
  }
  
  .bloc15{
    width: 600px;
    height: 50px;
    background-color: rgba(255, 98, 98, 0);
    position: absolute;
    top: 3%; left: 35%;
    transition: transform 2s;
  }
  
    
  .filterMusic {
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
    z-index: 100;
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 100%;
    cursor: pointer;
}
  
    
  #animate{
      position:absolute;
  }
    
    /*#anim1 {
      -webkit-animation:6s ease 2s normal forwards 1 fade;
      opacity:0;
    }
    #anim2 {  
      -webkit-animation:6s ease 8s normal forwards 1 fade;
      opacity:0;
    }
    #anim3 {  
      -webkit-animation:5s ease 14s normal forwards 1 fade;
      opacity:0;
    }*/


    #anim4 {  
      -webkit-animation:5s ease 2s normal forwards 1 fadein;
      opacity:0;
    }
    #anim5 {  
      -webkit-animation:5s ease 8s normal forwards 1 fadein;
      opacity:0;
    }
    #anim6 {  
      -webkit-animation:5s ease 14s normal forwards 1 fadein;
      opacity:0;
    }
    #anim7 {  
      -webkit-animation:5s ease 19s normal forwards 1 fadein;
      opacity:0;
    }
    #anim8 {  
      -webkit-animation:5s ease 24s normal forwards 1 fadein;
      opacity:0;
    }

    /*
    #anim9 {  
      -webkit-animation:5s ease 46s normal forwards 1 fadein;
      opacity:0;
    }
    #anim10 {  
      -webkit-animation:5s ease 50s normal forwards 1 fadein;
      opacity:0;
    }
    #anim11 {  
      -webkit-animation:5s ease 53s normal forwards 1 fadein;
      opacity:0;
    }
  
    #anim15 {  
      -webkit-animation:3s ease 55s normal forwards 1 fadein;
      opacity:0;
    }
  
    #anim12 {  
      -webkit-animation:5s ease 57s normal forwards 1 fadein;
      opacity:0;
    }
    #anim13 {  
      -webkit-animation:5s ease 58s normal forwards 1 fadein;
      opacity:0;
    }
    #anim14 {  
      -webkit-animation:3s ease 59s normal forwards 1 fadein;
      opacity:0;
    }
    */
  
    
    
    @-webkit-keyframes fade {
      0% { opacity:0;}
      40% { opacity:1;}
      60% { opacity:1;}
      100% {opacity:0;}
    }
  
    @-webkit-keyframes fadein { 
      from { opacity:0;}
      to { opacity:1;}
    
    }
    
    
    
    #parent1
    {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
    }
     
    #parent-connexion1 
    {
    display:table-cell; 
    vertical-align:middle;
    }
     
    #rect-connexion1
    {
     width: 250px;
     height: 50px;
     overflow: auto;
     margin: auto;
     position: absolute;
     top: 50%; left: 50%; bottom: 0; right: 0;
      /*background-color: #E6E6E6;*/
      background-color: rgba(255, 255, 255, 0);
     /*border-radius: 50px;*/
     opacity: 1;
    }
    
  