@import "../saynete.css";

.panier
{
    position: absolute;
    right: 40%;
    top: 40%;
    transition: transform 5s ease-out, opacity 1s ease-out;
    opacity: 1;
    height: 28%;
 }



.pain1
{
    position: absolute;
    right: 50%;
    top: 35%;
    transition: transform 5s ease-out;
    max-height: 30%;
    z-index: 1;
    cursor: pointer;

}
.pain2
{
    position: absolute;
    right: 46%;
    top: 30%;
    transition: transform 5s ease-out;
    max-height: 30%;
    z-index: 3;
    cursor: pointer;

}
.pain3
{
    position: absolute;
    right: 40%;
    top: 35%;
    transition: transform 5s ease-out;
    max-height: 30%;
    z-index: 4;
    cursor: pointer;

}
.pain4
{
    position: absolute;
    right: 42%;
    top: 30%;
    transition: transform 5s ease-out;
    max-height: 30%;
    z-index: 5 ;
    cursor: pointer;

}
.pain5
{
    position: absolute;
    right: 45%;
    top: 35%;
    max-height: 30%;
    z-index: 2;
    transition: transform 5s ease-out, opacity 6s ease-out;
    opacity: 1;
    cursor: pointer;

}


.pain5:hover
{
    cursor: grab;
    display: block;
}

  span:hover + div {
    display: block;
  }

.etiquette{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

.lastPain{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
}

.lastPain:hover{
    display: block;
}
.progressB-container {
    background-color: transparent;
    display: flex;
    justify-content: end;
    z-index: 100;
}
.progressB {
    position: relative;
    width:210px;
    height:30px;
    background-color:lightgrey;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    right: 6%;
    /* box-shadow: 0 3px 6px rgba(255, 255, 0, 255) inset; */
}

.progressB-fill {
    position: relative;
    width: 50%;
    height: 100%;
    background: rgb(61, 59, 59);
    transition: all 4s;
    font-family: IndieFlower;
    font-size: 18px;
    font-weight: 30;
    color: lightgrey;
}

.labelB {
    position: relative;
    margin-top: -2%;
    right: -8%;
    font-family: IndieFlower;
    font-size: 18px;
    font-weight: 30;
    color: lightgrey;
}

.nextButtonB{
    position: absolute;
    background-color: black;
    border: solid;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    left: 40%;
    bottom: 10%;
    opacity: 1;
    font-family: 'Reenie Beanie', cursive;
    font-style: default;
    font-size: 100%;
}

.nextButtonB:hover {
    background-color: gray;
  }
