body{
    background: #000000;
    opacity:100;
  }
  
  .ploatjeClass{
    position:absolute;
    width: 1250px;
    height: 683px;
    background: #111111;
    z-index: 0;
  }
  
  #log{
    color:#ffffff;
    position:absolute;
    opacity:0;  
  }
  
  #logDetails{
    color:#ffffff;
    position:absolute;
    opacity:0;
  }
  
  .texte{
    position:absolute;
    z-index: 0;
    margin-left: 50%;
    top: 50%;
    color:black ;
  }

