<body>
    <head>
        <link rel = "stylesheet" href="Flashlight.css">
        
    </head>
    <div id="ploatje" class="ploatjeClass"></div>
    <div id="log"></div>  
    <div id="logDetails"></div> 
    <script src="Flashlight.js"></script>
  .ploatjeClass{
        <div class = "texte ">
            <center> <a class="texte" href="information">ici</a> </center>
            
        </div>

</body>