/*body{
  overflow: hidden;
  margin: 0;
}*/

:root{
    --white:#fff;
    --jaunepale:rgb(235, 228, 188);
    --vertpale:rgb(96, 207, 152);
  }
  
  h1{
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
  }
  
  /*h1:hover{
    background-color: red;
  }*/
  
  
#animate{
    position:absolute;
}
  
  #vignets2 {
    -webkit-animation:5s ease 2s normal forwards 1 fadein;
    opacity:0;
  }
  #vignets4 {  
    -webkit-animation:5s ease 4s normal forwards 1 fadein;
    opacity:0;
  }
  #vignets6 {  
    -webkit-animation:5s ease 6s normal forwards 1 fadein;
    opacity:0;
  }
  #vignets8 {  
    -webkit-animation:5s ease 8s normal forwards 1 fadein;
    opacity:0;
  }
  #vignets10 {  
    -webkit-animation:5s ease 10s normal forwards 1 fadein;
    opacity:0;
  }
  #vignets12 {  
    -webkit-animation:5s ease 12s normal forwards 1 fadein;
    opacity:0; 
  }
  
  @-webkit-keyframes fadein { /* sur Safari et Chrome */
    from { opacity:0;}
    to { opacity:1;}
  
  }
  
  
  
  #parent1
  {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  }
   
  #parent-connexion1 
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion1
  {
   width: 250px;
   height: 50px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 50%; left: 50%; bottom: 0; right: 0;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }
  
  
  #parent2
  {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  }
   
  #parent-connexion2 
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion2
  {
   width: 250px;
   height: 50px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 50%; right: 50%;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }
  
  
  #parent3
  {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  }
   
  #parent-connexion3
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion3
  {
   width: 250px;
   height: 50px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 0; left: 50%; bottom: 50%; right: 0;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }
  
  #parent4
  {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  }
   
  #parent-connexion4
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion4
  {
   width: 250px;
   height: 50px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 50%; left: 0; bottom: 0; right: 50%;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }
  
  #parent5
  {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  }
   
  #parent-connexion5
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion5
  {
   width: 250px;
   height: 50px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 50%;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }
  
  #parent6
  {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  }
   
  #parent-connexion6
  {
  display:table-cell; 
  vertical-align:middle;
  }
   
  #rect-connexion6
  {
   width: 250px;
   height: 50px;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 0; left: 50%; bottom: 0; right: 0;
    /*background-color: #E6E6E6;*/
    background-color: rgba(255, 255, 255, 0);
   /*border-radius: 50px;*/
   opacity: 1;
  }
  
  .texte:hover {
    background-color: red;
    /*transform: translate(100px);*/
  }
  
  .texte2:hover {
    background-color: var(--vertpale);
  }
  
  #overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }