@font-face {
    font-family: 'IndieFlower';
    src: url('../../Start/fonts/IndieFlower-Regular.ttf');
}


body{
    background: black;
    overflow: hidden;
}

.text{
    font-family: IndieFlower;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20%;

}

.leftText{
    display: table-cell;
    margin-right: 20vh;
    cursor: pointer;
}

.rightText{
    position: relative;
    margin-left: 20vh;
    cursor: pointer;
}

.nextButton{
    position: absolute;
    top : 80%;
    left: 40%;
    cursor: grab;
    margin: auto;
    background-color : transparent;
    color: white;
    font-family: IndieFlower;
}

  
.filterMusic {
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
    z-index: 100;
    top: 0%;
    left: 0%;
    background-color: black;
    opacity: 100%;
    cursor: pointer;
}
